:root{
    --primary-color:#ff0000;
    --secondary-color:#05e9ed;
    --accent1-color:#2909de;
    --accent2-color:#f6f5fa;
}
.hero{
    width: 100%;
    padding-top: 10px;
    position: relative;
    RGBA:(O,0,0,0.8)
}
.VJA a{
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    padding:5px;
    background-color:var(--accent2-color)
   
}
.logo{
    width: 40px;
    background-color: var(--secondary-color);
}
.VJA{
    background-color:var(--accent2-color);
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}
body{
    margin: 2px;
}
.text{
    position: absolute;
    RGBA:(O,0,0,0.5);
}
nav{
    background-color: var(--secondary-color);
}
.VJA.nav{
    border-color: var(--secondary-color);
}
